#!/bin/sh
# X11 kiosk mode initialization script

# Set DISPLAY environment variable to use the primary X server display (:0)
export DISPLAY=:0
xhost +local:

# Disable screen saver and power management
xset s off
xset -dpms
xset s noblank
unclutter -idle 0.1 -root &
# dunst daemon for d-bus notifications from docker container 
dunst &
openbox-session &

while true; do
  curl --silent --head --fail "http://localhost:{{ grafana_port_ext }}/" && break
  echo "Waiting for grafana..."
  sleep 2
done

chromium-browser --disk-cache-size=104857600 --enable-features=VaapiVideoDecoder --media-cache-size=104857600 --no-sandbox --hide-scrollbars --noerrdialogs --disable-infobars --kiosk "{{ kiosk_url }}"