nodered/data/node-modules/*
nodered/data/lib/*
nodered/data/.npm
influx/data/engine/*
influx/data/influxd.sqlite
portainer/data/*.db
portainer/data/backups/*
.env
.env.local
.env.development
.env.production
.env.staging
ansible/.env.pi
